#div{
  display: flex;
  align-items:center;
  margin-left: 30%;
}
  .btn {
    background-color:rgba(255, 72, 18, 0.6);
    border: none;
    color: whitesmoke;
    padding: 20px 30px;
    text-align: center;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-left: 30%;
  }

  .btn:hover {
    background-color:rgba(113, 255, 18, 0.6);
    color: whitesmoke;
  }
  #btnUp {
    padding: 30px;
    background-color: #F9A0FF;
    border: none;
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 4px;
  }
  #btnLeft{
    padding: 30px;
    background-color: #F9A0FF;
    border: none;
    margin-left: 43%;
  }
  #btncenter{
    padding: 30px;
    background-color: #F9A0FF;
    border: none;
  }
  #btnRigh{
    padding: 30px;
    background-color: #F9A0FF;
    border: none;
  }
.RLButtons{
  display: flex;
}
#btnDown{
  padding: 30px;
  background-color: #F9A0FF;
  border: none;
  margin-left: 50%;
  margin-top: 4px;
}
